<section id="modal-custom">

    <div class="modal-body">
        <div class="modal-header">
            <button type="button" class="close" ng-click="vm.Close()" aria-hidden="true">&times;</button>
        </div>
        <ul role="tablist" class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#login-2" aria-controls="login" role="tab" data-toggle="tab" aria-expanded="false">ENTRAR</a></li>
            <li role="presentation" class=""><a href="#register-2" aria-controls="register" role="tab" data-toggle="tab" aria-expanded="true">REGISTRARSE</a></li>
        </ul>
        <br><br>
        <div class="tab-content">
            <div id="login-2" role="tabpanel" class="fade tab-pane active in">

                <form class="text-left" name="login_form" novalidate>
                    <div class="form-group">
                        <input id="login-name-2" type="email" name="loginEmail" ng-model="vm.loginEmail" class="form-control" placeholder="Email" required />
                        <span class="label label-danger" ng-show="login_form.loginEmail.$error.required && !login_form.loginEmail.$pristine">Campo obligatorio!</span>
                        <span class="label label-danger" ng-show="login_form.loginEmail.$invalid && !login_form.loginEmail.$pristine">Invalid email!</span>

                    </div>
                    <div class="form-group">
                        <input id="login-password" type="password" name="loginPass" ng-model="vm.loginPass" class="form-control" Placeholder="Contraseña" required />
                        <span class="label label-danger" ng-show="login_form.loginPass.$error.required && !login_form.loginPass.$pristine">Campo obligatorio!</span>
                    </div>
                    <div class="text-center text-sm-left">
                        <button type="submit" ng-disabled="!login_form.$valid" ng-click="vm.SubmitLogin()" class="btn btn-block btn-success">ENTRAR</button>
                    </div>
                </form>
            </div>
            <div id="register-2" role="tabpanel" class="fade tab-pane">
                <form class="text-left" name="signup_form" novalidate>
                    <div class="form-group">
                        <input id="register-name-2" type="text" name="registerUser" ng-model="vm.registerUser" class="form-control" placeholder="Usuario" required />
                        <span class="label label-danger" ng-show="signup_form.registerUser.$error.required && !signup_form.registerUser.$pristine">Campo obligatorio!</span>
                    </div>
                    <div class="form-group">
                        <input id="register-email-2" type="email" name="registerEmail" ng-model="vm.registerEmail" class="form-control" Placeholder="Email" required />
                        <span class="label label-danger" ng-show="signup_form.registerEmail.$error.required && !signup_form.registerEmail.$pristine">Campo obligatorio!</span>
                        <span class="label label-danger" ng-show="signup_form.registerEmail.$invalid && !signup_form.registerEmail.$pristine">Invalid email!</span>
                    </div>
                    <div class="form-group">
                        <input id="login-password-2" type="password" name="registerPass" ng-model="vm.registerPass" class="form-control" Placeholder="Contraseña" required />
                        <span class="label label-danger" ng-show="signup_form.registerPass.$error.required && !signup_form.registerPass.$pristine">Campo obligatorio!</span>
                    </div>
                    <div class="form-group">
                        <input id="login-password-2" type="password" name="registerPass2" ng-model="vm.registerPass2" class="form-control" Placeholder="Contraseña" required/>
                        <span class="label label-danger" ng-show="signup_form.registerPass2.$error.required && !signup_form.registerPass2.$pristine">Campo obligatorio!</span>
                    </div>
                    <div class="text-center text-sm-left">
                        <button type="submit" ng-disabled="!signup_form.$valid" ng-click="vm.SubmitSignup()" class="btn btn-block btn-success">REGISTRARSE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>