@import 'var';
#contact {
    #banner {
        @include background-image;
        background-image: url("../images/pizza.jpg");
        height: 300px;
    }
    padding: 20px 0px 0px 0px;
    .title {
        text-align: center;
        hr {
            border-bottom: 2px solid #42B574;
            width: 25%;
            margin-bottom: 27px;
        }
    }
    .contact-form {
        background-color: rgba(10, 25, 35, 0.7);
        padding: 30px !important;
        label {
            color: $primary;
        }
        .btn-success {
            background-color: #42B574;
            border-color: #42B574;
        }
    }
    ng-map {
        margin-top: 40px !important;
    }
}


/*Responsive*/


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    #contact {
        #banner {
            height: 100px;
        }
        .container {
            padding: 0px;
        }
    }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    #contact {
        #banner {
            height: 200px;
        }
    }
}


/* Large desktop */

@media (min-width: 1200px) {}