/*Variables generales para la aplicación*/

//Colores
$primary: #42B574;
//Fuentes
$font-stack: 'Open Sans',
sans-serif;
//Configuraciones
@mixin background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}