<section id="restaurants">
        <section id="banner">
        </section>
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                        
                        <div class="btn-group">
                                <label class="btn btn-success navbar-btn" ng-model="vm.radioModel" uib-btn-radio="'breackfast_price'" ng-click="vm.changeTags()">Almuerzo</label>
                                <label class="btn btn-success navbar-btn" ng-model="vm.radioModel" uib-btn-radio="'launch_price'" ng-click="vm.changeTags()">Comida</label>
                                <label class="btn btn-success navbar-btn" ng-model="vm.radioModel" uib-btn-radio="'dinner_price'" ng-click="vm.changeTags()">Cena</label>
                                <label class="btn btn-success navbar-btn" ng-model="vm.radioModel" uib-btn-radio="'valoration'" ng-click="vm.changeTags()">Valoración</label>
                                <label class="btn btn-success navbar-btn" ng-model="vm.radioModel" uib-btn-radio="'users'" ng-click="vm.changeTags()">Usuarios</label>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                                <li><a href="/restaurants/list"><span class="glyphicon glyphicon-list"></span> Lista</a></li>
                        </ul>
                        <form class="form-inline navbar-right navbar-btn">
                                <ol class="nya-bs-select" ng-model="model" data-live-search="true" title="Selecciona una localidad" data-size="5">
                                        <li nya-bs-option="option in vm.cards">
                                                <a>
                                        {{ option.city }}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                                        </li>
                                </ol>
                                <button type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                        </form>
                </div>
        </nav>
        <div id="restaurants-map">
                <ng-map zoom="16">
                        <custom-marker id="{{c.name}}" ng-repeat="c in vm.cards" position="{{c.lat}},{{c.lon}}">

                                <div><span class="label label-info">{{c.filters}}</span></div>
                                <div><img width="64" src="{{vm.findmenuIcon}}" align="left" /></div>

                        </custom-marker>
                        <marker id="user" icon="{{vm.userIcon}}" position="current" animation="Animation.BOUNCE" centered="true">
                        </marker>
                </ng-map>
        </div>

</section>